@media (max-width: 1200px) {
  .container {
    width: 88%;
  }
  #menu-toggle {
    display: none;
  }
}

@media (max-width: 1140px) {
  .hero__subtitle {
    font-size: 30px;
  }

  #block-project {
    .block-project {
      &__elem {
        &--subtitle {
          font-size: 30px;
        }
      }
    }
  }

  #block-started {
    .block-started {
      &__item1 {
        &--subtitle {
          font-size: 30px;
        }
      }

      &__item2 {
        &--elem {
          &__menu {
            &--menu-block {
              &__title {
                font-size: 30px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  #testimonial {
    .testimonial {
      &__theme {
        &--subtitle {
          font-size: 30px;
        }
      }
    }
  }

  #send {
    .send {
      &__items {
        &__subtitle {
          font-size: 33px;
        }
      }
    }
  }
}

@media(max-width: 992px) {
  #hero {
    .hero {
      &__subtitle {
        font-size: 30px;
      }
    }
  }

  #block {
    .block {
      &__item {
        width: 33% !important;
      }
    }
  }

  #send {
    .send {
      &__items {
        &__subtitle {
          font-size: 28px;
        }
      }
    }
  }

  #block-project {
    .block-project {
      &__elem {
        &--title {
          font-size: 13px;
        }

        &--subtitle {
          font-size: 26px;
        }
      }

      &__app {
        &--mobile {
          &__disk {
            &__title {
              font-size: 19px;
            }
          }
        }
      }
    }
  }

  #block-started {
    .block-started {
      &__item1 {
        &--title {
          font-size: 13px;
        }

        &--subtitle {
          font-size: 26px;
        }
      }

      &__item2 {
        &--elem {
          width: 33% !important;

          &__menu {
            &--menu-block {
              &__title {
                font-size: 26px;
                text-align: left;
              }
            }

            &--subtitle {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }

  #our-team {
    .our-team {
      &__item1 {
        &--title {
          font-size: 13px;
        }

        &--subtitle {
          font-size: 27px;
        }
      }
    }
  }

  #testimonial {
    .testimonial {
      &__theme {
        &--title {
          font-size: 12px;
        }

        &--subtitle {
          font-size: 26px;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  #header {
    .header {
      &__nav {
        a {
          color: #E91E63;
          text-indent: -15px;
          text-decoration: none;
          text-transform: none;
          list-style: none;
          line-height: 10px;
          font-size: 10px;
        }
        a:focus {
          color: #F50057;
          font-weight: 700;
          transition: .2s linear;
        }
      }
      &__nav, label:before, label:after {
        content: '';
        position: absolute;
        right: 0;
        width: 40px;
        height: 5px;
        background-color: white;
        border-radius: 2px;
        transition: .5s ease;
      }

      label {
        padding: 38px 70px;
        position: absolute;
        z-index: 1;
      }

      label:before {
        top: 60px;
      }

      label:after {
        top: 70px;
      }

      &__btn {
        display: none;
      }

      nav{
        top: 25px;
        width: 0;
        transition: .2s ease;
        z-index: 0;
      }

      nav a{
        line-height: 0.5;
        pointer-events: none;
        opacity: 0;
      }

      label{
        top: 0;
        right: 10px;
      }

      #menu-toggle:checked + label:before {
        top: 30px;
        right: 40px;
        transform: rotate(-45deg);
      }

      #menu-toggle:checked + label:after {
        top: 30px;
        right: 40px;
        transform: rotate(45deg);
      }

      #menu-toggle:checked + label + .header__nav {
        top: 1%;
        padding: 2%;
        width: 20%;
        height: 3%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        transition: .3s ease .2s;
        z-index: 1;
      }

      #menu-toggle:checked + label + .header__nav .header__nav--item{
        pointer-events: all;
        font: 2vw 'Roboto', sans-serif;
        line-height: 2.3;
        opacity: 1;
        z-index: 2;
        transition: .2s ease .3s;
      }
      [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        display: none;
      }
    }
  }

  #hero {
    .hero {
      padding-top: 40px;
      &__title {
        font-size: 12px;
      }

      &__subtitle {
        font-size: 24px;
      }

      &__description {
        font-size: 14px;
        line-height: 20px;
      }

      &__buttons {
        &--purple {
          padding: 16px 40px !important;
        }

        &--gray {
          padding: 16px 40px !important;
        }
      }
    }
  }

  #how-we-work {
    .how-we-work {
      &__elem {
        &--title {
          font-size: 12px;
        }

        &--subtitle {
          font-size: 24px !important;
        }
      }
    }
  }

  #our-team {
    .our-team {
      padding: 0 0 !important;

      &__item1 {
        &--subtitle {
          font-size: 24px !important;
          line-height: 20px;
        }
      }
    }
  }

  #block-project {
    .block-project {
      &__elem {
        &--title {
          font-size: 13px;
        }

        &--subtitle {
          font-size: 24px;
        }
      }

      &__app {
        &--mobile {
          width: 50%;

          &__disk {
            &__title {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  #block-started {
    .block-started {
      &__item1 {
        &--title {
          font-size: 12px;
        }

        &--subtitle {
          font-size: 24px;
        }
      }

      &__item2 {
        &--elem {
          &__menu {
            &--menu-block {
              &__title {
                font-size: 24px;
                text-align: left;
              }
            }

            &--subtitle {
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }

  #testimonial {
    .testimonial {
      &__theme {
        &--title {
          font-size: 12px;
        }

        &--subtitle {
          font-size: 24px;
        }
      }
    }
  }

  #send {
    .send {
      &__items {
        &__subtitle {
          font-size: 18px;
        }
      }
    }
  }

  #footer {
    .footer {
      &__logos {
        &--lg {
          font-size: 19px !important;
        }

        &--desc {
          font-size: 14px;
        }
      }

      &__items {
        &--title {
          font-size: 14px;
        }

        &--desc {
          font-size: 14px;
        }
      }
    }

  }
}

@media (max-width: 576px) {
  #header {
    .header {
      width: 90%;
      &__logo {
        font-size: 20px !important;
      }
    }
  }

  #hero {
    .hero {
      &__title {
        font-size: 10px;
      }

      &__subtitle {
        font-size: 20px;
      }

      &__description {
        font-size: 12px;
        line-height: 18px;
      }

      &__buttons {
        &--purple {
          padding: 10px 25px !important;
        }

        &--gray {
          padding: 10px 25px !important;
        }
      }
    }
  }

  #block {
    .block {
      &__item {
        width: 80% !important;
      }
    }
  }

  #how-we-work {
    .how-we-work {
      &__img {
        width: 40% !important;
      }

      &__elem {
        &--title {
          font-size: 10px;
        }

        &--subtitle {
          font-size: 20px !important;
        }

        &--desc {
          font-size: 14px;
        }
      }
    }
  }

  #our-team {
    .our-team {

      &__images {
        width: 45% !important;

        &--img2 {
          top: 30% !important;
        }
      }

      &__item1 {
        width: 45% !important;
        padding-top: 20% !important;

        &--title {
          font-size: 10px;
        }

        &--subtitle {
          font-size: 20px !important;
          line-height: 20px !important;
        }

        &--description {
          font-size: 12px;
          line-height: 12px;
        }

        &--btnSee {
          padding: 4% 10% !important;
        }
      }
    }
  }

  #block-project {
    .block-project {
      &__elem {
        &--title {
          font-size: 10px;
        }

        &--subtitle {
          font-size: 20px;
        }
      }

      &__app {
        &--mobile {
          width: 100% !important;

          &__page {
            &--elem3, &--elem4 {
              height: 140px !important;
            }
          }

          &__disk {
            &__title {
              font-size: 18px !important;
            }
          }
        }
      }
    }
  }

  #block-started {
    .block-started {
      &__item1 {
        &--title {
          font-size: 10px;
        }

        &--subtitle {
          font-size: 20px;
        }
      }

      &__item2 {
        &--elem {
          width: 50% !important;

          &__description {
            font-size: 13px;
          }

          &__menu {
            &--menu-block {
              &__title {
                font-size: 18px;
                text-align: left;
              }

              &--desc {
                font-size: 12px;
              }
            }

            &--subtitle {
              font-size: 10px !important;
            }
          }

          &--button {
            &__btn {
              padding: 8px 40px;
            }
          }
        }
      }
    }
  }

  #testimonial {
    padding-top: 10%;

    .testimonial {
      &__slider {
        .slick-current {
          transform: translateY(0) scale(1.03) !important;

          .testimonial__slider--client__comment {
            color: #ffffff;
          }
        }
      }

      &__theme {
        &--title {
          font-size: 10px;
        }

        &--subtitle {
          font-size: 20px;
        }
      }
    }
  }

  #send {
    .send {
      &__items {
        &__button {
          &--send {
            padding: 3px 20px !important;
            margin-left: 2%;
            font-size: 12px;
          }

          &--ask {
            padding: 3px 20px !important;
            margin-left: 2%;
            font-size: 12px;
          }
        }

        &__subtitle {
          font-size: 14px;
          padding-left: 2%;
        }
      }
    }
  }

  #footer {
    .footer {
      &__logos {
        &--lg {
          font-size: 16px !important;
        }

        &--desc {
          font-size: 12px;
          line-height: 16px;
        }
      }

      &__items {
        &--title {
          font-size: 12px;
          line-height: 16px;
        }

        &--desc {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

  }
}

@media (max-width: 414px) {

  #hero {
    .hero {
      &__title {
        font-size: 9px;
      }

      &__subtitle {
        font-size: 18px;
      }

      &__description {
        font-size: 12px;
        line-height: 16px;
      }

      &__buttons {
        &--purple {
          padding: 7px 20px !important;
          font-size: 10px !important;
        }

        &--gray {
          padding: 7px 20px !important;
          font-size: 10px !important;
        }
      }
    }
  }

  #how-we-work {
    .how-we-work {

      &__img {
        display: none;
      }

      &__elem {
        &--title {
          font-size: 9px;
          text-align: center !important;
        }

        &--subtitle {
          font-size: 18px !important;
          text-align: center !important;
        }

        &--desc {
          font-size: 12px;
          text-align: center !important;
        }
      }
    }
  }

  #our-team {
    .our-team {
      display: flex;
      flex-direction: column;

      &__images {
        display: none;
      }

      &__item1 {
        width: 90% !important;

        &--title {
          font-size: 10px;
          text-align: center !important;
        }

        &--subtitle {
          font-size: 18px !important;
          line-height: 20px !important;
        }

        &--description {
          font-size: 12px !important;
          line-height: 12px;
        }

        &--btnSee {
          padding: 4% 10% !important;
        }
      }
    }
  }

  #testimonial {
    padding-top: 10%;

    .testimonial {
      &__slider {
        .slick-dots {
          li {
            width: 10px !important;
            height: 10px !important;
          }
        }

        .slick-current {
          transform: translateY(0) scale(1.03) !important;

          .testimonial__slider--client__comment {
            color: #ffffff;
          }
        }
      }

      &__theme {
        &--title {
          font-size: 9px;
        }

        &--subtitle {
          font-size: 18px;
        }
      }
    }
  }

  #send {
    .send {
      &__items {
        &__subtitle {
          font-size: 12px !important;
        }

        &__button {
          &--send {
            padding: 3px 20px !important;
            margin-left: 3%;
            font-size: 8px !important;
          }

          &--ask {
            padding: 3px 20px !important;
            margin-left: 3%;
            font-size: 8px !important;
          }
        }

        &__subtitle {
          font-size: 14px;
          padding-left: 2%;
        }
      }
    }
  }

  #footer {
    .footer {
      &__logos {
        margin-left: 2%;

        &--lg {
          font-size: 13px !important;
        }

        &--desc {
          font-size: 10px;
          line-height: 12px;
        }
      }

      &__items {
        margin-left: 3%;

        &--title {
          font-size: 10px;
          line-height: 12px;
        }

        &--desc {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }

  }
}

@media (max-width: 390px) {
  #footer {
    .footer {
      &__logos {
        margin-left: 2%;

        &--lg {
          font-size: 10px !important;
        }

        &--desc {
          font-size: 9px;
          line-height: 10px;
        }
      }

      &__items {
        margin-left: 3%;

        &--title {
          font-size: 9px;
          line-height: 10px;
        }

        &--desc {
          font-size: 9px;
          line-height: 10px;
        }
      }
    }

  }
}

@media (max-width: 320px) {
  #footer {
    .footer {
      &__logos {
        margin-left: 2%;

        &--lg {
          font-size: 8px !important;
        }

        &--desc {
          font-size: 8px;
          line-height: 9px;
        }
      }

      &__items {
        margin-left: 4%;

        &--title {
          font-size: 8px;
          line-height: 9px;
        }

        &--desc {
          font-size: 7px;
          line-height: 9px;
        }
      }
    }

  }
  #send {
    .send {
      &__items {
        &__subtitle {
          font-size: 9px !important;
        }

        &__button {
          &--send {
            padding: 3px 16px !important;
            margin-left: 3%;
            font-size: 6px !important;
          }

          &--ask {
            padding: 3px 16px !important;
            margin-left: 3%;
            font-size: 6px !important;
          }
        }

        &__subtitle {
          font-size: 14px;
          padding-left: 2%;
        }
      }
    }
  }
}
