$bgColor: rgba(11, 11, 34, 0.9);
$btnBgColor: rgba(255, 255, 255, 0.1);
$bgBlockColor: rgba(255, 255, 255, 0.05);


%bg {
  background: $bgColor;
  backdrop-filter: blur(175px);
}

%btn {
  background: $btnBgColor;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px 20px;
}

%btn:hover {
  background: #e7472e;
  transition: .5s;
}

%block {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

%title-elem{
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16FCD2;
}

%subtitle-elem{
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

%description-elem{
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

%line{
  background-color: $bgBlockColor;
  height: 2px;
  color: $bgBlockColor;
}

%page{
  width: 90%;
  background: #161620;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

%btn-detail-project{
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
  padding: 2% 9%;
  border-radius: 30px;
}

%btn-detail-project:hover{
  background: #e5c70a;
  transition: .5s;
}

%btnDetail{
  color: #3F2379;
  padding: 10px 60px;
  background: #FFFFFF;
  border-radius: 3px;
}

%btnDetail:hover{
  color: #FFFFFF;
  background: #d38484;
}

%projects-elem{
  width: 30%;
  height: 20px;
  border-radius: 100px;
  background: rgba(44, 44, 70, 0.5);
}

%ftEl-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 8%;
}

%ftEl-desc{
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

%col-lg-4{
  width: 33%;
}
%col-md-6{
  width: 50%;
}
%col-sm-12{
  width: 100%;
}
